<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>
<div style="margin-top: 20px;display: inline-block;text-align: center;">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">上级菜单（若为菜单）：</label>
            <div class="layui-input-inline">
                <div id="perTree"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单（权限）名称：</label>
            <div class="layui-input-inline">
                <input type="password" name="name" required="required" placeholder="请输入密码" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限编码：</label>
            <div class="layui-input-inline">
                <input type="text" name="permcode" required="required" placeholder="请输入真实姓名" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单url：</label>
            <div class="layui-input-inline">
                <input type="text" name="url" required="required" placeholder="请输入邮箱" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-inline">
                <input type="text" name="sort" required="required" placeholder="请输入地址" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型：</label>
            <div class="layui-input-block">
                <select name="type" lay-verify="required">
                    <option value="1" selected>菜单</option>
                    <option value="0">权限</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-inline">
                <input type="text" name="description" required="required" placeholder="请输入手机号码" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </form>
    <div>
        <button style="margin: auto;" class="layui-btn layui-btn-normal">保存</button>
    </div>

</div>

<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">
    //JavaScript代码区域
    layui.use(['form', 'tree', 'jquery'], function () {
        var form = layui.form;
        var tree = layui.tree;
        tree.render({
            elem: '#perTree',
            showCheckbox:true,
            data: [{
                title: '江西' //一级菜单
                ,children: [{
                    title: '南昌' //二级菜单
                    ,children: [{
                        title: '高新区' //三级菜单
                        //…… //以此类推，可无限层级
                    }]
                }]
            },{
                title: '陕西' //一级菜单
                ,children: [{
                    title: '西安' //二级菜单
                }]
            }]
        });

        form.render();
    });
</script>
</body>
</html>