<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjming.layui.system.user.dao.RoleMapper" >

    <resultMap id="BaseResultMap" type="com.hjming.layui.system.user.domain.Role" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="rolecode" property="rolecode" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, rolecode, description, sort
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from role
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from role
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="Role" >
        insert into role (id, name, rolecode, 
            description, sort)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{rolecode,jdbcType=VARCHAR}, 
            #{description,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="Role" >
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="rolecode != null" >
                rolecode,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="sort != null" >
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="rolecode != null" >
                #{rolecode,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                #{sort,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="Role" >
        update role
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="rolecode != null" >
                rolecode = #{rolecode,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="Role" >
        update role
        set name = #{name,jdbcType=VARCHAR},
            rolecode = #{rolecode,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            sort = #{sort,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>