<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjming.layui.system.user.dao.RolepermissionMapper" >

    <resultMap id="BaseResultMap" type="com.hjming.layui.system.user.domain.Rolepermission" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="roleid" property="roleid" jdbcType="INTEGER" />
        <result column="permisionid" property="permisionid" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, roleid, permisionid
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from rolepermission
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from rolepermission
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="Rolepermission" >
        insert into rolepermission (id, roleid, permisionid
            )
        values (#{id,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, #{permisionid,jdbcType=INTEGER}
            )
    </insert>

    <insert id="insertSelective" parameterType="Rolepermission" >
        insert into rolepermission
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="roleid != null" >
                roleid,
            </if>
            <if test="permisionid != null" >
                permisionid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roleid != null" >
                #{roleid,jdbcType=INTEGER},
            </if>
            <if test="permisionid != null" >
                #{permisionid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="Rolepermission" >
        update rolepermission
        <set >
            <if test="roleid != null" >
                roleid = #{roleid,jdbcType=INTEGER},
            </if>
            <if test="permisionid != null" >
                permisionid = #{permisionid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="Rolepermission" >
        update rolepermission
        set roleid = #{roleid,jdbcType=INTEGER},
            permisionid = #{permisionid,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>