<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjming.layui.system.user.mapper.UserMapper" >

    <resultMap id="BaseResultMap" type="com.hjming.layui.system.user.domain.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="salt" property="salt" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="adddate" property="adddate" jdbcType="TIMESTAMP" />
        <result column="enabled" property="enabled" jdbcType="DECIMAL" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="headportrait" property="headportrait" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="userRolesMap" type="com.hjming.layui.system.user.domain.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="salt" property="salt" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="adddate" property="adddate" jdbcType="TIMESTAMP" />
        <result column="enabled" property="enabled" jdbcType="DECIMAL" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="headportrait" property="headportrait" jdbcType="VARCHAR" />

        <collection property="roles" ofType="com.hjming.layui.system.user.domain.Role">
            <id column="rid" property="id" jdbcType="INTEGER" />
            <result column="rname" property="name" jdbcType="VARCHAR" />
            <result column="rolecode" property="rolecode" jdbcType="VARCHAR" />
            <result column="description" property="description" jdbcType="VARCHAR" />
            <result column="sort" property="sort" jdbcType="INTEGER" />
        </collection>
    </resultMap>

    <sql id="Base_Column_List" >
        id, username, name, password, salt, address, phone, email, sex, adddate, enabled, 
        remark, headportrait
    </sql>

    <!--获取用户的所有角色-->
    <select id="getUserRoleById" resultMap="userRolesMap">
        select u.*,r.id rid,r.name rname,r.rolecode,r.description,r.sort from user u
        left join userrole ur on u.id=ur.userid
        left join role r on ur.roleid = r.id
        where u.id=#{id}
    </select>

    <select id="selectAll" resultType="com.hjming.layui.system.user.domain.User">
        select
        <include refid="Base_Column_List"/>
        from user
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getUserByUsername" resultType="com.hjming.layui.system.user.domain.User">
        select
        <include refid="Base_Column_List" />
        from user
        where username=#{username,jdbcType=VARCHAR}
    </select>
    <select id="getRoles" resultType="com.hjming.layui.system.user.domain.Role">
        select r.* from role r
            INNER JOIN userrole ur on r.id = ur.roleid
            where ur.userid=#{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="User" >
        insert into user (id, username, name,
            password, salt, address,
            phone, email, sex,
            adddate, enabled, remark,
            headportrait)
        values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
            #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
            #{adddate,jdbcType=TIMESTAMP}, #{enabled,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR},
            #{headportrait,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="User" >
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="username != null" >
                username,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="salt != null" >
                salt,
            </if>
            <if test="address != null" >
                address,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="sex != null" >
                sex,
            </if>
            <if test="adddate != null" >
                adddate,
            </if>
            <if test="enabled != null" >
                enabled,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="headportrait != null" >
                headportrait,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null" >
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null" >
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="adddate != null" >
                #{adddate,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null" >
                #{enabled,jdbcType=DECIMAL},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="headportrait != null" >
                #{headportrait,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="User" >
        update user
        <set >
            <if test="username != null" >
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null" >
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="adddate != null" >
                adddate = #{adddate,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null" >
                enabled = #{enabled,jdbcType=DECIMAL},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="headportrait != null" >
                headportrait = #{headportrait,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="User" >
        update user
        set username = #{username,jdbcType=VARCHAR},
            name = #{name,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            salt = #{salt,jdbcType=VARCHAR},
            address = #{address,jdbcType=VARCHAR},
            phone = #{phone,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            sex = #{sex,jdbcType=VARCHAR},
            adddate = #{adddate,jdbcType=TIMESTAMP},
            enabled = #{enabled,jdbcType=DECIMAL},
            remark = #{remark,jdbcType=VARCHAR},
            headportrait = #{headportrait,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>