<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <hr class="layui-bg-green">
    <button class="layui-btn" onclick="addUser()"><i class="layui-icon">&#xe608;</i>添加</button>
    <button class="layui-btn"><i class="layui-icon">&#xe642;</i>修改</button>
    <button class="layui-btn" onclick="deleteUser()"><i class="layui-icon">&#xe640;</i>删除</button>
    <button class="layui-btn" onclick="grantAuth()"><i class="layui-icon">&#xe608;</i>授权</button>
    <button class="layui-btn" onclick="searchData()"><i class="layui-icon">&#xe615;</i>查询</button>

    <table id="table" lay-filter="table"></table>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">
    //JavaScript代码区域
    layui.use(['element', 'table', 'jquery'], function () {
        var element = layui.element;
        var $ = layui.jquery;
        var table = layui.table;
        //第一个实例
        table.render({
            id: 'userTable',
            elem: '#table',
            url: '/system/queryRole', //数据 接口
            page: true, //开启分页
            parseData: function (res) {
                console.log(res);
                return {
                    "code": 0,
                    "msg": "",
                    "count": 1000,
                    data: res
                }
            },
            cols: [[ //表头
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'ID', sort: true, fixed: 'left'},
                {field: 'name', title: '角色名', sort: true, fixed: 'left'},
                {field: 'rolecode', title: '角色编码', sort: true, fixed: 'left'},
                {field: 'description', title: '描述', sort: true, fixed: 'left'},
                {field: 'sort', title: '排序', sort: true, fixed: 'left'}
            ]]
        });

        //查询
        window.searchData = function () {
            table.reload('userTable');
        };

        window.addUser = function () {
            layer.open({
                type: 2,
                area : ['550px', '500px'],
                title: '添加用户',
                content: 'toAddUser' //这里content是一个URL，
                // 如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
            });
        };

        window.grantAuth = function () {
            var checkData = table.checkStatus('userTable');
            var data = checkData.data;//[{},{}]
            var length = checkData.data.length;
            if (length === 0 || length > 1) {
                layer.alert("请一次选择单个角色进行授权");
                return;
            }
            var id = data[0].id;
            layer.open({
                type:2,
                area : ['550px', '500px'],
                title: '角色授权',
                content: 'toGrantAuth/' + id
            });
        };

        //删除用户（物理）
        window.deleteUser = function () {
            var checkData = table.checkStatus('userTable');
            var data = checkData.data;//[{},{}]
            var length = checkData.data.length;
            var ids = [];
            if (length > 0) {
                for (var i = 0; i < length; i++) {
                    console.log(data[i].id);
                    ids.push(data[i].id)
                }
            }
            $.ajax({
                url: 'deleteUser',
                method: 'post',
                data: {ids:ids},
                dataType: "json",
                traditional: true,
                success: function (res) {
                    table.reload('userTable');
                }
            })
        }
    });
</script>
</body>
</html>